* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background-color: #f1d5d5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.content1 {
  margin-left: 50px;
}
.card {
  width: 30%;
  background-image: linear-gradient(135deg, #34b35a, #5b548a);
  color: #fff;
  margin: 10px auto 0px;
  padding: 40px 35px;
  text-align: center;
  border-radius: 20px;
  box-shadow: -1px -2px 3px 5px rgb(107, 108, 107);
  caret-color: transparent;
}
.search {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.search input {
  border: 0;
  outline: 0;
  background: #fbfffed0;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  margin-right: 16px;
  font-size: 18px;
  box-shadow: 0px 0px 45px 0px;
  caret-color: auto;
}
.search button {
  border: 0;
  outline: 0;
  background: #fbfffed0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  box-shadow: 0px 0px 45px 0px;
}
.search button img {
  width: 18px;
}
.weather {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.weather-icon {
  width: 150px;
}
.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.content {
  font-size: 20px;
}
.ing {
  width: 70px;
}

@media (max-width: 600px) {
  .content1 {
    margin: 70px 50px;
  }
  .card {
    width: 95%;
    padding: 30px 20px;
    margin-bottom: 70px;
  }

  .search {
    flex-direction: column;
  }

  .search input {
    width: 100%;
    margin-right: 0;
  }

  .search button {
    margin-top: 10px;
    width: 55px;
    height: 55px;
  }

  .weather-icon {
    width: 120px;
  }

  .content {
    font-size: 18px;
  }
}
